*.dcu
/Source/Brokers/ADO/D10_3/*.local
/Source/Brokers/DBX/D10_3/*.local
/Source/Brokers/FireDAC/D10_3/*.local
/Source/Brokers/IBX/D10_3/*.local
/Source/Brokers/XML/D10_3/*.local
/Source/Catalogs/IBFb/D10_3/*.local
/Source/Catalogs/MSSql/D10_3/*.local
/Source/Catalogs/MySQL/D10_3/*.local
/Source/Core/D10_3/*.local
/Source/Core/D10_3/*.identcache
